@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Roboto);
/* $font-one: "Josefin Sans", sans-serif;
$font-two: "Roboto", sans-serif;
$font-three: "Oswald", sans-serif; */

i[class^="btn"] {
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;

  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  overflow: hidden;
  width: 100vw;
}

.wave-container {
  width: 300vw;
  height: 100%;
  position: fixed;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background-color: #f2d7d3;
  background: linear-gradient(45deg, #e7b0c6 0%, #f9e2ee 100%);
}

.wave {
  opacity: 1;
  position: absolute;
  top: 60%;
  left: -28%;
  background: #00b5dd;
  mix-blend-mode: screen;
  width: 100%;
  height: 300vw;
  transform-origin: 50% 49%;
  border-radius: 49%;
  -webkit-animation: drift 3000ms infinite linear;
  animation: drift 8000ms infinite linear;
  will-change: transform;
}

.wave.-two {
  animation: drift 9000ms infinite linear;
  opacity: 1;
  background: #f2d7d3;
  mix-blend-mode: color-burn;
  top: 60%;
  left: -32%;
}

.wave.-three {
  animation: drift 4000ms infinite linear;
  opacity: 1;
  background: #f12645;
  top: 60%;
  left: -36%;
  z-index: -2;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.bg {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50%;
  background-color: #33476a;
  z-index: -1;
}

.line {
  position: fixed;
  left: 50vw;
  width: 2px;
  height: 80px;
  top: 24vh;
  background-color: white;
}

.text-wrap {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-wrap .text {
  cursor: pointer;
  position: relative;
  color: #fff9e1;
  font-size: 100px;
  font-weight: 300;
  padding: 0 2%;
}
.text-wrap span {
}

.main-btn_wrapper {
  position: absolute;
  right: -30%;
  top: calc(50% - 18px);
  width: 36px;
  height: 36px;
  background-color: #fff9e1;
  border-radius: 50%;
  text-align: center;
  display: none;
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom;
}
.main-btn_wrapper .main-btn {
  line-height: 36px;
}

.header {
  position: fixed;
  left: 2.2vw;
  top: 2.2vw;
  margin-left: -4px;
  margin-top: -6px;
  color: #252120;
  z-index: 103;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 30px;
}
.header .burger-wrapper {
  width: 20px;
  height: 30px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.header .burger {
  width: 20px;
  height: 2px;
  background-color: #252120;
  position: relative;
}
.header .burger:before,
.header .burger:after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #252120;
  position: absolute;
  left: 0;
}
.header .burger:before {
  top: -6px;
}
.header .burger:after {
  top: 6px;
  width: 14px;
}
.header .logo-text {
  font-size: 20px;
  color: #fff9e1;
}

.back_btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 70px;
  /* color: rgba(37, 33, 32, 0.4); */
  color: #000;
  font-size: 18px;
  display: flex;
  align-items: center;
  display: none;
  opacity: 0;
}
.back_btn .circle {
  background-color: rgba(37, 33, 32, 0.3);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.nav {
  will-change: transform;
  position: fixed;
  background-color: #fff;
  width: 50vw;
  min-width: 500px;
  height: 100vh;
  z-index: 10;
  box-shadow: 0 30px 80px 0 rgba(97, 45, 45, 0.25);
  display: none;
}
.nav ul {
  color: #444444;
}
.nav ul.nav_main {
  margin-top: 20vh;
}
.nav ul.nav_sub {
  margin-top: 3vh;
}
.nav ul.nav_sub a {
  font-size: 2.4vw;
}
.nav ul li {
  margin-left: 6vw;
  margin-bottom: 0.5vw;
  position: relative;
}

.nav_link {
  font-size: 3.8vw;
  cursor: pointer;
}
.nav_link:before {
  content: "";
  position: absolute;
  width: 4vw;
  height: 2px;
  background-color: #444444;
  left: -12vw;
  top: 50%;
  transition: 0.4s;
}

.nav_divider {
  width: 3vw;
  height: 1px;
  background-color: rgba(37, 33, 32, 0.12);
  margin: 4vh 6vw;
}

.nav li .nav_link:hover:before {
  left: -6vw;
}

.gallery-page {
  background-color: #f2d7d3;
  background: linear-gradient(45deg, #e7b0c6 0%, #f9e2ee 100%);
  height: 100vh;
  width: 100%;
}
.loader {
  background-color: #f2d7d3;
  background: linear-gradient(45deg, #e7b0c6 0%, #f9e2ee 100%);

  position: fixed;
  display: block;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}
.loader .lds-ripple {
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader .lds-ripple div {
  position: absolute;
  border: 4px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
.loader.is-loaded {
  opacity: 0;
  visibility: hidden;
  z-index: -99;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
header {
  font-family: "Poppins", sans-serif;
  position: fixed;
  display: block;
  width: 100%;
  height: 48px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
header .header-inner {
  padding: 32px 1.5%;
}
@media screen and (max-width: 768px) {
  header .header-inner {
    padding: 16px 16px 0;
  }
}
@media screen and (max-width: 640px) {
  header .header-inner {
    padding: 16px 16px 0 16px;
  }
}
header .header-inner .logo {
  position: relative;
  display: inline;
  width: 36px;
  height: 36px;
  float: left;
}
header .header-inner .logo a {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;

  border-radius: 4px;
  transform: rotate(15deg);
  transition: all 0.35s ease-in-out;
}
header .header-inner .logo a:hover {
  box-shadow: 0 15px 31px rgba(0, 0, 0, 0.12), 0 5px 31px rgba(0, 0, 0, 0.06);
}
header .header-inner nav {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0 16px 0 24px;
  list-type-style: none;
}
header .header-inner nav li {
  position: relative;
  display: inline;
  margin-right: 16px;
}
header .header-inner nav li a {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  line-height: 40px;
  transition: all 0.35s ease-in-out;
}
@media screen and (max-width: 768px) {
  header .header-inner nav li a {
    font-size: 13px;
    clear: both;
  }
}
@media screen and (max-width: 360px) {
  header .header-inner nav li a {
    font-size: 11px;
  }
}
header .header-inner nav li a span {
  position: relative;
  z-index: 2;
}
header .header-inner nav li a:hover {
  color: rgba(36, 36, 36, 0.45);
}

section.content-holder {
  position: fixed;
  display: block;
  width: 100%;
  max-width: 640px;
  height: 100%;
  overflow: visible;
  left: 0;
  top: 0;
  bottom: 0;
}
section.content-holder .content {
  position: relative;
  display: block;
  width: 100%;
  max-width: 640px;
  height: auto;
  overflow: visible;
  left: 3%;
  top: 50vh;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  section.content-holder .content {
    position: absolute;
    top: auto;
    transform: none;
    left: 16px;
    bottom: 16px;
  }
}
section.content-holder .content h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 96px;
  line-height: 102px;
  font-weight: 900;
}
@media (max-width: 768px) {
  section.content-holder .content h1 {
    font-size: 48px;
    line-height: 56px;
  }
}
section.content-holder .content h1 span {
  font-size: 62px;
}
section.content-holder .content h1 span svg {
  height: 92px;
}
@media (max-width: 768px) {
  section.content-holder .content h1 span svg {
    height: 54px;
  }
}
section.content-holder .content p {
  color: #ffffff;
  opacity: 0.5;
  width: calc(100% - 48px);
  max-width: 340px;
  padding: 16px 0;
}
section.content-holder .content form .label {
  position: relative;
  display: block;
  width: 100%;
  width: calc(100% - 56px);
  padding-right: 40px;
  max-width: 290px;
  overflow: visible;
}
@media (max-width: 768px) {
  section.content-holder .content form .label {
    max-width: 48px;
  }
}
section.content-holder .content form .label .input {
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 13px;
  color: #ffffff;
  line-height: 48px;
  border-radius: 4px;
  border: none;
  margin-top: 16px;
  padding: 0px 16px;
  width: 100%;
  outline: 0px none;
  outline: 0px;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}
@media (max-width: 768px) {
  section.content-holder .content form .label .input {
    max-width: 0;
    padding: 0;
    height: 0;
  }
}
section.content-holder .content form .label .input::placeholder {
  color: #ffffff;
  opacity: 1;
}
section.content-holder .content form .label .input:-ms-input-placeholder {
  color: #ffffff;
}
section.content-holder .content form .label .input::-ms-input-placeholder {
  color: #ffffff;
}
section.content-holder .content form .label .input:focus {
  box-shadow: 0 15px 31px rgba(0, 0, 0, 0.12), 0 5px 31px rgba(0, 0, 0, 0.06);
}
section.content-holder .content form .label .input:hover {
  box-shadow: 0 15px 31px rgba(0, 0, 0, 0.12), 0 5px 31px rgba(0, 0, 0, 0.06);
}
section.content-holder .content form .label .submit {
  position: absolute;
  display: block;
  width: 44px;
  height: 66px;
  line-height: 80px;
  text-align: center;
  background-color: transparent;
  border: none;
  top: 0;
  right: 0;
  color: #ffffff;
  outline: 0px none;
  outline: 0px;
}
@media (max-width: 768px) {
  section.content-holder .content form .label .submit {
    position: relative;
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    line-height: 50px;
    border-radius: 4px;
    background-color: #f2d7d3;
    background: linear-gradient(45deg, #e7b0c6 0%, #f9e2ee 100%);

    margin-top: -16px;
  }
}
section.grid-holder {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: visible;
}
section.grid-holder .masonry {
  width: 100%;
  max-width: 1024px;
  float: right;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: scroll;
}
@media (max-width: 1360px) {
  section.grid-holder .masonry {
    max-width: calc(100% - 320px);
  }
}
@media (max-width: 768px) {
  section.grid-holder .masonry {
    max-width: 480px;
  }
}
@media (max-width: 600px) {
  section.grid-holder .masonry {
    max-width: 320px;
  }
}
@media (max-width: 480px) {
  section.grid-holder .masonry {
    max-width: 80%;
  }
}
section.grid-holder .masonry .close-detail-view {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  visibility: 0;
}
section.grid-holder .masonry .close-detail-view.active {
  z-index: 10;
}
section.grid-holder .masonry .masonry__item {
  background-color: #242424;
  margin: 1%;
  width: 23%;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0.15;
  cursor: pointer;
  transition: box-shadow 0.35s ease-in-out, opacity 0.35s ease-in-out;
  z-index: 1;
  will-change: transform;
}
@media (max-width: 1360px) {
  section.grid-holder .masonry .masonry__item {
    width: 31.33333%;
  }
}
@media (max-width: 1024px) {
  section.grid-holder .masonry .masonry__item {
    width: 48%;
  }
}
section.grid-holder .masonry .masonry__item figure {
  position: absolute;
  display: block;
  width: 100%;
  width: calc(100% - 32px);
  height: 100%;
  height: calc(100% - 32px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 16px;
}
section.grid-holder .masonry .masonry__item figure figcaption {
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
}
section.grid-holder .masonry .masonry__item figure .background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  /* opacity: 0;
  visibility: hidden; */
  z-index: 1;
  transform: scale(1.5);
}
section.grid-holder .masonry .masonry__item figure .content h2 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 32px;
  line-height: 38px;
  font-weight: 900;
  word-spacing: 9999999px;
  opacity: 0.15;
  visibility: visible;
  z-index: 1;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}
@media (max-width: 768px) {
  section.grid-holder .masonry .masonry__item figure .content h2 {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 600px) {
  section.grid-holder .masonry .masonry__item figure .content h2 {
    font-size: 15px;
    line-height: 21px;
  }
}
@media (max-width: 480px) {
  section.grid-holder .masonry .masonry__item figure .content h2 {
    display: none;
  }
}
section.grid-holder .masonry .masonry__item figure .detail {
  font-family: "Poppins", sans-serif;
  position: absolute;
  display: block;
  width: 100%;
  height: 36px;
  right: 0;
  bottom: 16px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
section.grid-holder .masonry .masonry__item figure .detail .circles {
  position: relative;
  display: block;
  width: 104px;
  height: 36px;
  float: right;
}
section.grid-holder .masonry .masonry__item figure .detail .circles .circle {
  background-color: #ffffff;
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  top: 0;
  overflow: hidden;
}
section.grid-holder .masonry .masonry__item figure .detail .circles .circle1 {
  right: 40px;
  z-index: 2;
}
section.grid-holder
  .masonry
  .masonry__item
  figure
  .detail
  .circles
  .circle1
  span {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  line-height: 36px;
  text-align: center;
  display: inherit;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}
section.grid-holder .masonry .masonry__item figure .detail .circles .circle2 {
  right: 16px;
  opacity: 0.25;
  z-index: 1;
}
section.grid-holder
  .masonry
  .masonry__item
  figure
  .detail
  .circles
  .circle2
  span {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  line-height: 36px;
  text-align: right;
  display: inherit;
  padding-right: 8px;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}
section.grid-holder .masonry .masonry__item.small {
  height: 220px;
}
@media (max-width: 1360px) {
  section.grid-holder .masonry .masonry__item.small {
    min-height: 180px;
  }
}
@media (max-width: 1024px) {
  section.grid-holder .masonry .masonry__item.small {
    min-height: 80px;
  }
}
section.grid-holder .masonry .masonry__item.middle {
  height: 260px;
}
@media (max-width: 1360px) {
  section.grid-holder .masonry .masonry__item.middle {
    min-height: 220px;
  }
}
@media (max-width: 768px) {
  section.grid-holder .masonry .masonry__item.middle {
    min-height: 120px;
  }
}
section.grid-holder .masonry .masonry__item.big {
  min-height: 300px;
}
@media (max-width: 1360px) {
  section.grid-holder .masonry .masonry__item.big {
    min-height: 260px;
  }
}
@media (max-width: 768px) {
  section.grid-holder .masonry .masonry__item.big {
    min-height: 160px;
  }
}
section.grid-holder .masonry .masonry__item:hover {
  opacity: 1 !important;
  box-shadow: 0 15px 31px rgba(0, 0, 0, 0.24), 0 5px 31px rgba(0, 0, 0, 0.12);
}
section.grid-holder .masonry .masonry__item:active {
  opacity: 0.15;
  box-shadow: none;
}
section.grid-holder .masonry .masonry__item:focus {
  opacity: 0.15;
  box-shadow: none;
}
section.grid-holder .masonry .masonry__item:target {
  opacity: 0.15;
  box-shadow: none;
}
section.grid-holder .masonry .masonry__item.active {
  opacity: 1 !important;
  box-shadow: 0 15px 31px rgba(0, 0, 0, 0.36), 0 5px 31px rgba(0, 0, 0, 0.24);
}
section.grid-holder.align {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


/*# sourceMappingURL=styles.chunk.css.map*/